{% extends 'base.html.twig' %}

{% block body %}






<footer class="footer-section font-small pt-4">
    <div class="container">
        <div class="newslatter-form">
            <div class="row">
                <div class="col-lg-12">

                     <form action="#">
                         <input type="text" placeholder="Your email address">
                         <button type="submit">Subscribe to our newsletter</button>
                     </form>

                </div>
            </div>
        </div>
    </div>


{% endblock %}
